.basic-lifestyle-modal {
	--backdrop-opacity: 0.6 !important;
	@media (max-width: 767px) {
		--height: 80vh;
		align-items: flex-end;
	}
	&::part(backdrop){
		background-color: #4e4e4e;
	}
	.text-black {
		color: var(--ion-text-dark-color);
	}
	.text-gray {
		color: var(--ion-text-dark-gray);
	}
	.border-b {
		border-bottom: 1px solid var(--ion-color-gray-shade2);
	}
    ion-toolbar {
        --background: var(--ion-background-color);
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding-top: 10px;

        ion-icon {
            font-size: 34px !important;
            color: #7c8591;
        }

        ion-buttons {
            font-weight: 700;
            color: var(--ion-text-dark-gray);
            font-size: 15px;
            margin-right: 10px;
            cursor: pointer;
        }
		.relationship-title {
			h2 {
				font-size: 34px;
				font-weight: 700;
				margin-top: 0;
			}
	
			h6 {
				font-size: 15px;
				font-weight: 500;
				margin-top: 0;
			}
		}
    }
	ion-content{
		.basic-detail{
			padding: 12px 16px;
			ion-icon{
				margin-right: 10px;
			}
			h3 {
				font-size: 17px;
				font-weight: 700;
				margin: 0;
			}
		}
		ion-button.button-outline {
			font-weight: 500 !important;
			font-size: 15px;
			height: 32px;
			margin: 4px;
			--border-width: 2px;
			--border-color: var(--ion-color-gray-shade2);
			--padding-start: 18px;
			--padding-end: 18px;
			--background-activated: var(--ion-background-color);
			&.border-active {
				--border-color: #cd9f0e;
			}
		}
	}
	// ion-item {
	// 	--min-height: 35px;
	// 	--background: var(--ion-background-color);
	// 	ion-label {
	// 		font-size: 16px !important;
	// 		margin: 0;
	// 	}
	// 	ion-note {
	// 		font-size: 15px;
	// 	}
	// 	ion-range {
	// 		padding-top: 0;
	// 	}
	// }
	// ion-button.button-clear {
	// 	color: #cd9f0e;
	// 	font-size: 15px;
	// 	--padding-start: 0;
	// }
	// .photo-num-item {
	// 	padding: 8px 0 16px 0;
	// }
	// .verified-sect {
	// 	padding: 6px 0;
	// 	--background-hover: var(--ion-background-color);
	// 	--background-activated: var(--ion-background-color);
	// }
	// ion-checkbox {
	// 	--size: 20px;
	// 	--background-checked: var(--ion-background-color);
	// 	--checkmark-color: #cd9f0e;
	// 	--checkmark-width: 4;
	// }
	// ion-checkbox::part(container) {
	// 	border-radius: 4px;
	// 	border: 2px solid #505965;
	// }
	// .btn-bottom-sect {
	// 	ion-button {
	// 		width: 50%;
	// 		height: 50px;
	// 		font-size: 19px;
	// 		color: #505965;
	// 		&:hover {
	// 			color: #cd9f0e;
	// 			opacity: 1;
	// 		}
	// 		&.btn-active {
	// 			color: #cd9f0e;
	// 			border-left: 1px solid var(--ion-color-gray-shade2);
	// 		}
	// 		&.button-disabled {
	// 			color: #939ba7;
	// 			opacity: 1;
	// 		}
	// 	}
	// }
}
