.no-user-modal {
	--backdrop-opacity: 0.6 !important;
	--height: 250px;
	@media (max-width: 767px) {
		--height: 30vh;
		align-items: flex-end;
	}

	ion-toolbar{
		--background: transparent;
	}

	ion-content {
		text-align: center;
	}

	.user-content {
		padding: 0 40px;

		h2 {
			font-size: 20px;
			color: var(--ion-text-dark-color);
		}

		h3 {
			font-size: 16px;
			color: var(--ion-text-dark-gray);
			margin: 0;
		}
	}

	ion-button {
		--background: linear-gradient(135deg, #c1920f, #e6af16 42%, #f7d472);
		font-size: 19px;
		margin: 30px 40px 0 40px;
	}
}